@page
@model IndexModel
@{
  ViewData["Title"] = "Autorzy | Królewski System Zarządzania Królestwem";
}

<main class="container" role="main">
  <div class="main-page-header">
    <h1 style="margin-top: 124px;">K.S.Z.K</H1>
    <p style="margin-bottom: 124px;" class="subtitle">
      Królewski System Zarządzania Królestwem
    </p>
  </div>
  <div class="container" style="text-align: center;">
    <span>Autorzy:</span>
    <div style="display: flex; flex-direction: column; gap: 8x; margin-top: 24px;">
      <span style="font-size: 1.2rem; font-weight: bold;">Michał Janiec</span>
      <span style="font-size: 1.2rem; font-weight: bold;">
        Sylwia Czajkowska 
      </span>
      <span style="font-size: 1.2rem; font-weight: bold;">
        Dominik Włodarczyk
      </span>
      <span style="font-size: 1.2rem; font-weight: bold;">
        Kristina Dubiaha
      </span>
      <span style="font-size: 1.2rem; font-weight: bold;">
        Tytus Staszewski
      </span>
    </div>
  </div>
  <footer class="main-page-footer">
    <p>Projekt zaliczeniowy na przedmiot: Algorytmy i Struktury Danych II</p>
  </footer>
</main>

