@page
@model IndexModel
@{
    ViewData["Title"] = "Edytor | Królewski System Zarządzania Królestwem";
}

<div>
    <textarea rows="12">Tutaj będzie zwykły tekst</textarea>
    <textarea rows="12">Tutaj będzie zapis binarny tekstu</textarea>
    <textarea rows="12">Tutaj będzie skompresowany zapis binarny tekstu</textarea>
</div>